h1.PageTitle {
  text-align: center;
}
.ListWrapper {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}
.SumWrapper {
  padding: 0 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
