h1.PageTitle {
  text-align: center;
}
.ListWrapper {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}
.PagiWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
