body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
}
img {
  display: block;
  max-width: 100%;
}
main {
  padding-top: 50px;
}
